<div class="wrapper wrapper-content animated fadeIn" ng-controller="ConversationCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Conversation</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox product-detail">
        <div class="ibox-content">
            <div class="project-list">
                <table class="table">
                <tbody>
                    <tr ng-repeat="m in messages" class="msg" ng-class="(m.fromAdmin == true) ? 'mine' : ''">
                        <td class="project-title">
                            <p>{{m.text}}</p>
                            <small>{{m.date | date:'short'}}</small>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>

            <textarea class="form-control" rows="5" ng-model="replyText"></textarea>
            <div class="hr-line-dashed"></div>
            <button class="btn btn-primary" type="submit" ng-click="submit()">Reply</button>
        </div>
    </div>

</div>