<div class="wrapper wrapper-content animated fadeIn ecommerce">
    <div class="row">
        <div class="col-lg-12">
             <div class="panel-body" ng-controller="EditPostCtrl">
                            
                <fieldset ng-if="post.dataType != 3" class="form-horizontal">
                    <div class="form-group"><label class="col-sm-2 control-label">Title:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Post title" ng-model="post.title"></div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">Caption:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Enter a caption" ng-model="post.caption"></div>
                    </div>
                </fieldset>
                <fieldset ng-if="post.dataType == 3" class="form-horizontal">
                    <div class="form-group"><label class="col-sm-2 control-label">Text:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" ng-model="post.data"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" ui-sref="index" ui-sref-opts="{reload: true, notify: true}" href="#">Cancel</a>
                        <button class="btn btn-primary" type="submit" ng-click="submit()">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
