<div class="wrapper wrapper-content animated fadeIn" ng-controller="HomeCtrl">

    <div class="row">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Unread Messages</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{unread_messages}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">This Week</span>
                    <h5>Post Views</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{views_week}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">This Month</span>
                    <h5>Post Views</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{views_month}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">This Week</span>
                    <h5>Post Likes</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{likes_week}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">This Week</span>
                    <h5>App Launches</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{launches_week}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">This Week</span>
                    <h5>Users</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{launches_unique}}</h1>
                </div>
            </div>
        </div>
    </div>


</div>
