<div class="wrapper wrapper-content animated fadeIn" ng-controller="MessagesCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Messages</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox product-detail">
        <div class="ibox-content">
            <div class="project-list messages">
                <table class="table table-hover">
                <tbody>

                    <tr ng-repeat="m in messages">
                        <td class="project-title" ui-sref="conversation({messages: m})">
                            {{m[0].text}}
                            <br>
                            <small>{{m[0].date | date:'short'}}</small>
                        </td>
                        <td class="project-status" width="100px" ui-sref="conversation({messages: m})">
                            <span ng-if="m[0].adminRead == false" class="label label-primary">Unread</span>
                            <span ng-if="m[0].adminRead == true" class="label label-default">Read</span>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>

</div>