<div class="wrapper wrapper-content animated fadeIn ecommerce">
    <div class="row">
        <div class="col-lg-12">

            <div class="tabs-container">

                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            Image
                        </uib-tab-heading>
                        <div class="panel-body" ng-controller="NewImagePostCtrl">
                            
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">Title:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Post title (optional)" ng-model="title"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Caption:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Enter a caption (optional)" ng-model="caption"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Image(s):</label>
                                    <div class="col-sm-10">
                                        <div class="dropzone" dropzone="" id="dropzone-image" ng-init="dropzone()">
                                            <div class="dz-message m-t-lg m-b-lg">
                                                <h1>Drop images here, or click to upload.</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Call to Action (optional):</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Title" ng-model="cta_title">
                                        <input type="url" class="form-control" placeholder="URL" ng-model="cta_url">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white" ui-sref="new-post" ui-sref-opts="{reload: true, notify: true}" href="#">Cancel</a>
                                    <button class="btn btn-primary" type="submit" ng-click="submit()">Post</button>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            Video
                        </uib-tab-heading>
                        <div class="panel-body" ng-controller="NewVideoPostCtrl">
                            
                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">Title:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Post title (optional)" ng-model="title"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Caption:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Enter a caption (optional)" ng-model="caption"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Video file (mp4):</label>
                                    <div class="col-sm-10">
                                        <div class="dropzone" dropzone="" id="dropzone-video" ng-init="dropzone()">
                                            <div class="dz-message m-t-lg m-b-lg">
                                                <h1>Drop a video file here, or click to upload.</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Call to Action (optional):</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Title" ng-model="cta_title">
                                        <input type="url" class="form-control" placeholder="URL" ng-model="cta_url">
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Video loops:</label>
                                    <div class="col-sm-10"><input type="checkbox" class="form-control" ng-model="loops"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Video shows controls:</label>
                                    <div class="col-sm-10"><input type="checkbox" class="form-control" ng-model="controls"></div>
                                </div>
                            </fieldset>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white" ui-sref="new-post" ui-sref-opts="{reload: true, notify: true}" href="#">Cancel</a>
                                    <button class="btn btn-primary" type="submit" ng-click="submit()">Post</button>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            Text
                        </uib-tab-heading>
                        <div class="panel-body" ng-controller="NewTextPostCtrl">

                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">Text:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" ng-model="text"></textarea>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Call to Action (optional):</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Title" ng-model="cta_title">
                                        <input type="url" class="form-control" placeholder="URL" ng-model="cta_url">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white" ui-sref="new-post" ui-sref-opts="{reload: true, notify: true}" href="#">Cancel</a>
                                    <button class="btn btn-primary" type="submit" ng-click="submit()">Post</button>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            Q & A
                        </uib-tab-heading>
                        <div class="panel-body" ng-controller="NewQAPostCtrl">

                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">Question:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" ng-model="question"></textarea>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Answer:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" ng-model="answer"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white" ui-sref="new-post" ui-sref-opts="{reload: true, notify: true}" href="#">Cancel</a>
                                    <button class="btn btn-primary" type="submit" ng-click="submit()">Post</button>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
