<div class="wrapper wrapper-content animated fadeIn" ng-controller="PostsCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Posts</h5>
                    <div class="ibox-tools">
                        <a href="#" ui-sref="new-post" class="btn btn-primary btn-xl">Create new post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="p in posts" class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-7">

                            <div class="pull-right">
                                <h3>{{p.likes}} likes</h3>
                            </div>

                            <h2 ng-if="p.title" class="font-bold m-b-xs">
                               {{p.title}}
                            </h2>

                            <h3 ng-if="p.dataType == 1">Image post</h3>
                            <h3 ng-if="p.dataType == 2">Video post</h3>
                            <h3 ng-if="p.dataType == 3">Text post</h3>
                            <h3 ng-if="p.dataType == 4">Q & A post</h3>

                            <span>{{p.date | date:'short'}}</span>

                            <hr>

                            <p ng-if="p.caption">{{p.caption}}</p>
                            <p ng-if="p.dataType == 3">{{p.data.text}}</p>

                            <div ng-if="p.dataType == 4">
                                <p>Question: {{p.data.question}}</p>
                                <p>Answer: {{p.data.answer}}</p>
                            </div>
                            
                            <hr>

                            <div class="m-b-md">
                                <div class="btn-group">
                                    <!--<a class="btn btn-white btn-sm" ui-sref="edit-post({post: p})"><i class="fa fa-pencil-square"></i> Edit</a>-->
                                    <a class="btn btn-white btn-sm" ng-click="deletePost(p)"><i class="fa fa-minus-square"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">

                            <slick dots="true" ng-if="p.dataType == 1">

                                <div ng-repeat="i in p.data.images">
                                    <img class="img-responsive" ng-src="/{{i.url}}">
                                </div>

                            </slick>

                            <div ng-if="p.dataType == 2">
                                <video ng-attr-loop="{{p.data.loops || undefined}}">
                                    <source ng-src="/{{p.data.url}}" type="video/mp4">
                                </video>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
