* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}

h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
}

form {
    margin: 0 auto;
    width: 280px;
}

form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}

@media only screen and (max-width: 280px) {

    body, form {
        width: 95%;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }

}