<!DOCTYPE html>
<html ng-app="social">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Google Open Sans -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- build:css(admin) styles/vendor.css -->
    <!-- bower:css -->
    <!-- Font awesome -->
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Dropzone CSS -->
    <link href="bower_components/dropzone/dist/min/basic.min.css" rel="stylesheet">
    <link href="bower_components/dropzone/dist/min/dropzone.min.css" rel="stylesheet">

    <!-- Slick -->
    <link href="bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="bower_components/slick-carousel/slick/slick-theme.css" rel="stylesheet">

    <!-- Main CSS files -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,admin/app}) styles/style.css -->
    <link href="styles/animate.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <!-- endbuild -->



</head>

<!-- ControllerAs syntax -->
<!-- Main controller -->
<body ng-controller="MainCtrl as main">

<!-- Main view wrapper-->
<div id="wrapper" class="top-navigation">

    <!-- Navigation -->
    <div ng-include="'views/common/top_navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Main view  -->
        <div class="container" ui-view></div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->


<!-- build:js(admin) scripts/vendor.js -->

<!-- jQuery and Bootstrap -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- SlimScroll -->
<script src="bower_components/slimScroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="bower_components/pace/pace.min.js"></script>

<!-- Dropzone JS -->
<script src="bower_components/dropzone/dist/min/dropzone.min.js"></script>

<!-- Slick -->
<script src="bower_components/slick-carousel/slick/slick.min.js"></script>

<!-- Angular scripts-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-slick/dist/slick.min.js"></script>
<!-- Angular Dependiences -->


<!-- endbuild -->

<!-- build:js({.tmp,admin/app}) scripts/scripts.js -->
<!-- Custom and plugin javascript -->
<script src="scripts/social.js"></script>

<!-- Anglar App Script -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/controllers.js"></script>
<!-- endbuild -->

</body>
</html>
