<div class="post-container">

    <div class="large-right">
        <img class="sean-logo" src="/img/s.jpg">
    </div>

    <div class="post">

        {{#ifCond post.dataType 1}}
        <div class="post-images">
            {{#each post.data.images}}
                <img src="/{{this.url}}">
            {{/each}}
        </div>
        {{/ifCond}}
        {{#ifCond post.dataType 2}}
        <div class="post-video">
            <video {{#if post.data.loops}}loops{{/if}}>
                <source src="/{{post.data.url}}" type="video/mp4">
            </video>
        </div>
        {{/ifCond}}
        {{#ifCond post.dataType 3}}
        <div class="post-text text">
            <p>{{p.data.text}}</p>
        </div>
        {{/ifCond}}

        <div class="text">
        {{#if post.title}}<h1>{{post.title}}</h1>{{/if}}
        
        {{#if post.caption}}<h3>{{post.caption}}</h3>{{/if}}
        </div>
    </div>

    <div class="large-right">
        <p class="tagline">Shared from the Sean D Shoots app</p>

        <a class="appstore" href="https://itunes.apple.com/app/id000000000"><img src="/img/appstore.png"></a>

        <p class="copyright">&copy; Sean Dougherty <script>document.write(new Date().getFullYear())</script> - <span class="rift">Created by <a href="http://rift.solutions" target="_blank">RIFT</a></span></p>
    </div>
</div>