/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.dropzone {
  border: 2px dashed #1ab394 !important;
  padding: 40px 20px !important;
}


.msg.mine {
  text-align: right;
}