<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">{{sitename}}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $state.includes('index')}">
                    <a ui-sref="index" href="#">Home</a>
                </li>
                <li ng-class="{active: $state.includes('posts')}">
                    <a ui-sref="posts" href="#">Posts</a>
                </li>
                <li ng-class="{active: $state.includes('messages')}">
                    <a ui-sref="messages" href="#">Messages</a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
